body {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.koulsh {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px; 
    padding: 15px;
    border-radius: 8px; 
}

#uno, #dos {
    color: white;
    font-weight: 700;
    text-align: center;
    margin: 8px 0; 
    font-size: 12px;
}

#dos {
    color: hsl(75, 94%, 57%);
}

#tres {
    color: white;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

img {
    border-radius: 50px; 
    width: 80px; 
    height: 80px;
    margin-bottom: 10px;
}

.buttons {
    border: double;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 8px; 
    width: 200px;
    border-radius: 8px;
    background-color: hsl(0, 0%, 20%);
    padding: 8px;
}

button {
    padding: 6px 12px;
    margin-top: 10px;
    font-size: 12px; 
    background-color: transparent;
    border: none;
}

a {
 
    color: white;
    text-decoration: none;
    font-size: 12px; 
}
